nav {
    display: none;
    background: orange;
    position: absolute;
    min-height: 50px;
    width: 0;
    border-bottom-right-radius: 25px;
    margin: 1px;
    left: 1px;
    top: 0;
}

#navbar-container{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#logo {
    height: 100px;
    max-width: 200px;
}
li {
    display: flex;
    margin: 5px;
    align-items: center;
}

body {
    background: black;
}