<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add your own quiz!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% load  static %}
    <link rel="stylesheet" href="{% static 'StudyHub/css/quiz_add.css' %}">
    <script src="{% static 'StudyHub/js/quiz_add.js' %}"></script>
</head>
<body>
    <h1>Add your own quiz!</h1>
    <form>
        <div id="main-body">
            <label for="quiz_name">Quiz Name:</label>
            <input type="text" id="quiz_name" name="quiz_name" placeholder="Quiz Name">
            <label for="quiz_description">Quiz Description:</label>
            <input type="text" id="quiz_description" name="quiz_description" placeholder="Quiz Description">
        </div>


        <div>
            <div id="questions">
                <div class="question">
                    <div class="answers">
                    </div>
                </div>
            </div>
        <button id="add-question">Add Question</button>
        </div>


        <input type="submit" value="Add">
    </form>
    <br>
</body>
</html>