#logo{
    height: 100px;
}

#sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    background-color: orange;
    width: 30px;
    height: 100%;
    z-index: 1000;

    transform-origin: left;
    transition: all 0.2s ease;
}

#sidebar ul {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, minmax(240px, 1fr));
    list-style-type: none;
    margin: 0;
    margin-block: 0;
    padding: 0;
    justify-content: center;
}

#sidebar li {
    padding: 0;
    margin: 0 0 5px;
    height: 1fr;
}

body {
    background-color: black;
}
#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
}


.text {
    transform: scaleX(0);
    transition: all 0.2s ease;
    transform-origin: left;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

#sidebar svg {
    flex-basis: 30px;
    font-size: 28px;
}

#sidebar:hover .text {
    transform: scaleX(1);
}

#sidebar:hover {
    width: 200px;
    align-items: flex-start;
}

#sidebar a {
    display: flex;
    height: 30px;
    padding: 0.5em;
}

#sidebar li:hover {
    border-radius: 15px;
    background-color: orangered;
}
